*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  /* background: black; */
  /* color: rgb(24, 106, 42); */
 
}

html,
body {
   height: 100%;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

@property --rotate{
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAni{
  from{
    --rotate:0deg
  }

  to{
    --rotate:360deg
  }
}

.box{
  height: 500px;
  max-width: 400px;
  padding-inline: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(210, 189, 189);
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 0px rgb(211, 12, 152);
  border-radius: 15px;
  background:
              linear-gradient(rgb(0, 0, 0))padding-box,
              conic-gradient(from var(--rotate),black,black, rgb(211, 12, 152),black)border-box;
border: 0px solid rgba(255, 255, 255, 0);
/* margin: 10px; */
animation: borderAni 5s ;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-play-state: paused;
transition: all 0.3s linear;
color: rgb(242, 237, 239);
text-shadow: 0 0 0px  rgb(211, 12, 152);
}

.box:hover{
  animation-play-state: running;
  border: 7px solid rgba(255, 255, 255, 0);
  box-shadow: 0 0 80px  rgb(211, 12, 152);
  color:  rgb(211, 12, 152);
text-shadow: 0 0 20px rgb(211, 12, 152);



}

.box img{
  height: 400px;
  /* object-fit: cover; */
  width: 100%;
}