* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    /* color: #fff; */
}
html,
body {
 
    height: 100%;
    width: 100%;
    overflow: auto;
    /* background: rgb(227, 10, 10); */
     background-image: url('https://images.unsplash.com/photo-1724862936518-ae7fcfc052c1?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    /* background: linear-gradient(to right bottom,red,blue); */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* position: relative; */
}

:root{
  --x:200px;
  --y:200px
}
.box{
  height: 100%;
  width: 100%;
 
  background: radial-gradient(200px at var(--x) var(--y),rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.866));
  color: rgba(3, 3, 51, 0.356);
 font-size: 50px;
}
.main{
 height: 700px;
 width: 350px;
 background-color: rgb(179, 179, 199);
 border-radius: 20px;
 padding: 13px;
 overflow: hidden;
 position: absolute;
 color: rgb(35, 28, 28);

}

.time{
 display: flex;
 justify-content: space-between;
 height: 46px;
 width: 100%;
 background-color: rgb(26, 8, 8);
 color: white;
 position: absolute;
 left: 0;
 top: 0;
 border-top-right-radius: 20px;
 border-top-left-radius: 20px;
 padding: 9px;
}
.time #wifi{
 margin-left: 240px;
 margin-top: 1px;
}




.header{
 display: flex;
 justify-content: space-between;
 font-size: 20px;
 margin-top: 37px;
 
}

.header .plus,.love,.search{
 margin-top: px;
 font-size: 26px;
 
}

.header .plus{
margin-left: 90px;
}

.bar{
 margin-top: 9px;
 display: flex;
 gap: 8px;
 flex-wrap: nowrap;
 overflow: auto;
 cursor: pointer;

}
.bar::-webkit-scrollbar{
 display: none;
}
.bar img{
 height: 70px;
 width: 70px;
 border-radius: 100%;
 object-fit: cover;
 /* cursor: pointer; */
}
.bar p{
 font-size: 11px;
 margin-left: 10px;
}

.middle{
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.upper{
 display: flex;
 /* justify-content: space-between; */
 padding-top: 15px;
 padding-bottom: 10px;
}

.upper img{
 height: 60px;
 width: 60px;
 object-fit: cover;
 border-radius: 50%;
}

.upper>h2{
 font-size: 16px;
 margin: 20px;
}

.upper h1{
 margin-left: 80px;
 font-size: 25px;
 margin-top: 9px;
}

.cover{
  height: 450px;
  width: 100%;
  background-color: white;
  position: relative;
  overflow: hidden;
  transition: all ease 0.5s;
}
.cover img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  padding: 0;
  cursor: pointer;
}
/* .cover img{
 margin-top: 5px;
 background-size: cover;
 width: 100%;
 height: 400px;
 padding: 0;
 margin-top: 5px;
 border-radius: 4px;
 cursor: pointer;
} */

#posts{
 display: flex;
 flex-direction: column;
 overflow-y: auto;
 flex-wrap: nowrap;
 height: 510px;
 margin-top: 10px;
 scroll-snap-type: y mandatory;
scroll-behavior: smooth;
}

#posts::-webkit-scrollbar{
 display: none;
}

/* .cover i{
 position: absolute;
 top:50%;
 left: 50%;
 font-size: 50px;
 opacity: 0;
 overflow: hidden;
} */

.icons{
height: 81px;
 /* width: 349px; */
 background: rgb(28, 5, 5);
 border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
display: flex;
align-items: center;
justify-content:space-around;
cursor: pointer;
 /* top: 400px; */
 
}

.icons img{
 height: 25px;
 color: white;
 border-radius: 50%;
}
.icons img:active{
  scale: .90;
}
.icons .foot{
  color: aliceblue;
}
.icons img:hover{
  background-color: blue;
}

.cover .child{
  width: 100%;
  height: 40%;
  background:linear-gradient(transparent,rgb(210, 52, 52));
  position: absolute;
  bottom: -40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.cover:hover .child{
 bottom: 0%;
}

.child>h3{
color: aliceblue;
margin-top: 120px;
}

.cover .low{
  color: azure;
}

footer{
 position: absolute;
 bottom: 0;
 z-index: 1;
 /* height: ; */
 width: 100%;
 left: 0;
}

.icons .foot{
 font-size: 20px;

}
.icons .foot:active{
  scale: 0.95;
  background-color: brown;
  border-radius: 20px;
}


.icons .pro img{
 height: 35px;
}

.cover i{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  opacity: 0;
  
  
  background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  transform: translate(-50%,-50%) scale(0) rotate(-60deg);
  transition: all cubic-bezier(.65,1,.77,1.44) 0.4s;
}


.main .profile{
  height: 100%;
width: 100%;
background-color: aquamarine;
position: absolute;
padding: 20px;
top: 0%;
z-index: 1;
border-radius: 20px;
right: .9px;
}

.profile .upper1{
  display: flex;
  justify-content: space-between;
}

.profile .upper1 #wifi1{
  margin-left: 220px;
}

.profile .upper1 #wifi1,p,h2{
  font-size: 20px;
}
 .upper2{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
} 

.upper2 img{
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-size: cover;
  border: 2px solid red;
}

.upper2 h2{
  font-weight: 500;
  font-size: 15px;
}

.main .reels{
height: 570px;
width: 100%;
padding: 0px;
top: 6.3%;
z-index: 1;
/* border-radius: 20px; */
overflow: auto;
right: .9px;
position: absolute;
scroll-snap-type: y mandatory;
scroll-behavior: smooth;
opacity: 1;
display: block;


/* overflow-y: auto; */
}

.reels::-webkit-scrollbar{
  display: none;
}

.reels1{
  height: 100%;
  width: 100%;
  position: relative;
  background-image: rgb(95, 171, 146);
  overflow: hidden;
  /* margin-bottom: 20px; */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.reels1 video {
  height: 100%;
  width: 100%;
  top: 0px;
  object-fit: cover;
  bottom: 0px;
  position: absolute;
  inset: 0;
   clip-path: inset(0 1px 0 0);
   left: 1px;
   right: -1px;
   cursor: pointer;
  /* border-radius: 20px; */
}
.reels1 .reels4{
  height: 250px;
  width: 50px;
  /* background: rgba(245, 222, 179, 0.146); */
  position: absolute;
  top: 40%;
  right: 4px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items:normal;
  justify-content: start;
  color: rgb(249, 250, 251);
  cursor: pointer;
  gap: 20px;
}

.reels4 .fst{
  font-size: 25px;
  margin-bottom: 15px;
  /* pointer-events: none; */
}
.reels1 .snd{
  font-size: 20px;
  margin-bottom: 15px;

}
.reels1 .trd{
  font-size: 20px;  
  margin-bottom: 15px;

}
.reels1 .trd i{
  font-size: 20px;  
  margin-bottom: 15px;

}

 .reels1 .fullTittle{
  top: 30px;
  height: 50px;
  width: 70%;
  display: flex;
  left: 0;
  padding: 5px;
  gap: 15px;
  margin-left: 31px;
  color: rgb(253, 254, 254);
  /* background-color: rgb(63, 56, 46); */
  display: flex;
  align-items: center;
  margin-left: 45px;
} 

.youtube{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.sub img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  padding: 5px;
  top: 10%;
} 
.reels1 .sub{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 250px;
  position: absolute;
  /* background-color: aliceblue; */
  top: 80%;
  /* overflow: hidden; */
  
}

 .fullTittle h2{
  font-size: 15px;
  font-weight: 300;
}

.fullTittle button{
  height: 30px;
  width: 70px;
  border-radius: 20px;
  border: none;
  top: 1;
}

.fullTittle .subb{
  height: 40px;
  width: 90px;
}
/* 
.fullTittle .name{
 margin-left: 30px;
 margin-top: 5px;
}
  */
.Lorem{
  height: 20px;
  width: 100%;
  position: absolute;
  top: 60px;
  margin-left: 10px;
}
.Lorem p{
  font-size: 20px;
  color: white;
}

.love{
  color: rgb(31, 14, 222);
}

.right {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: center;
  width: 40px;
  position: absolute;
  right: 0;
  color: aliceblue;
  /* height: 100%; */
  /* transform: translateX(100%); */
  bottom: 12%;
  /* background: linear-gradient(to right, transparent,rgba(0, 0, 0, 0.284)); */
}
.right {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: center;
  align-items: center;
  width: 40px;
  position: absolute;
  right: 0;
  /* height: 100%; */
  /* transform: translateX(100%); */
  bottom: 12%;
  /* background: linear-gradient(to right, transparent,rgba(0, 0, 0, 0.284)); */
  /* font-size: 29px; */
}

.right h4{
  cursor: pointer;
}
.right i {
  font-size: 25px;
  font-weight: 500;

}

.right h6 {
  font-size: 25px;
  font-weight: 500;
}

.right > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  cursor: pointer;
}

.loves{
  color: red;
}

.right > div h4{
  pointer-events: none;
}
.right > div h6{
  pointer-events: none;
}

.mute{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: absolute;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: rgb(172, 199, 206);
  z-index: 3;
  top: 81%;
  right: 8%;
  border-radius: 20px;
}
.mute i{
  font-size: 22px;
  pointer-events: none;
}

.mute:active{
  scale: 0.95;
}