* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    /* color: #fff; */
}
html,
body {
 
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to right bottom,red,blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
 height: 700px;
 width: 350px;
 background-color: rgb(229, 229, 238);
 border-radius: 20px;
 padding: 13px;
 position: relative;

}

.time{
 display: flex;
 justify-content: space-between;
}
.time #wifi{
 margin-left: 240px;
 margin-top: 3px;
}




.header{
 display: flex;
 justify-content: space-between;
 font-size: 20px;
}

.header .plus,.love,.search{
 margin-top: px;
 font-size: 26px;
 
}

.header .plus{
margin-left: 90px;
}

.bar{
 margin-top: 9px;
 display: flex;
 gap: 8px;
 flex-wrap: nowrap;
 overflow: auto;
}
.bar::-webkit-scrollbar{
 display: none;
}
.bar img{
 height: 70px;
 width: 70px;
 border-radius: 100%;
 background-size: cover;
}
.bar p{
 font-size: 11px;
 margin-left: 10px;
}

.upper{
 display: flex;
 /* justify-content: space-between; */
 padding-top: 15px;
 padding-bottom: 10px;
}

.upper img{
 height: 60px;
 width: 60px;
 background-size: cover;
 border-radius: 50%;
}

.upper>h2{
 font-size: 16px;
 margin: 20px;
}

.upper h1{
 margin-left: 80px;
 font-size: 25px;
 margin-top: 9px;
}

.cover{
  height: 450px;
  width: 100%;
  background-color: white;
  position: relative;
  overflow: hidden;
  transition: all ease 0.5s;
}
.cover img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  padding: 0;
}
/* .cover img{
 margin-top: 5px;
 background-size: cover;
 width: 100%;
 height: 400px;
 padding: 0;
 margin-top: 5px;
 border-radius: 4px;
 cursor: pointer;
} */

#posts{
 display: flex;
 flex-direction: column;
 overflow-y: auto;
 flex-wrap: nowrap;
 height: 510px;
 margin-top: 10px;
}

#posts::-webkit-scrollbar{
 display: none;
}

/* .cover i{
 position: absolute;
 top:50%;
 left: 50%;
 font-size: 50px;
 opacity: 0;
 overflow: hidden;
} */

.icon{
 height: 80px;
 width: 348px;
 background: whitesmoke;
 border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
display: flex;
align-items: center;
justify-content:space-around;
cursor: pointer;
 /* top: 400px; */
 
}

.icon img{
 height: 25px;
}

.icon img:hover{
  background-color: blue;
}

.cover .child{
  width: 100%;
  height: 40%;
  background:linear-gradient(transparent,black);
  position: absolute;
  bottom: -40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cover:hover .child{
 bottom: 0%;
}

.child>h3{
color: aliceblue;
margin-top: 120px;
}

.cover .low{
  color: azure;
}

footer{
 position: absolute;
 top: 88.5%;
 left: 1px;
}

.icon .foot{
 font-size: 20px;
}



.icon .pro img{
 height: 35px;
}

.cover i{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  opacity: 0;
  
  
  background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  transform: translate(-50%,-50%) scale(0) rotate(-60deg);
  transition: all cubic-bezier(.65,1,.77,1.44) 0.4s;
}


.main .profile{
  height: 100%;
width: 100%;
background-color: aquamarine;
position: absolute;
padding: 20px;
top: 0%;
z-index: 1;
border-radius: 20px;
right: .9px;
}

.profile .upper1{
  display: flex;
  justify-content: space-between;
}

.profile .upper1 #wifi1{
  margin-left: 220px;
}

.profile .upper1 #wifi1,p,h2{
  font-size: 20px;
}
.upper2{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.upper2 img{
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-size: cover;
  border: 2px solid red;
}

.upper2 h2{
  font-weight: 500;
  font-size: 15px;
}