* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

body{
 display: flex;
 align-items: center;
 justify-content: center;
}

h1{
 height: 200px;
 width: 350px;
 background-color: rgb(87, 169, 169);
 font-size: 100px;
 padding: 20px;
 border-radius: 20px;
}