* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  background-color: black;
}

html,
body {
  height: 100%;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1763793927948-7faaa6adb479?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}

:root{
  --x:200px;
  --y:200px;
}

.box{
  height:200%;
  width: 200%;
  border: 1px solid white;
  /* background: radial-gradient( 200px at var(--x) var(--y), rgba(245, 241, 241, 0),rgb(1, 1, 17)); */
}