* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

main{
 height: 100%;
 width: 100%;
 background-color: rgb(156, 80, 80);
 display: flex;
 align-items: center;
 justify-content: center;
}

.container{
 height: 250px;
 width: 500px;
 background: linear-gradient(to right bottom,rgb(63, 32, 32),rgb(78, 162, 78),blue);
border-radius: 30px;
padding: 30px;
/* display: flex; */

}

.container>h2{
  color: rgba(233, 238, 237, 0.931);
  /* margin: 20px; */
  margin-left: 15px;

}

.container h2 span{
  color: black;
  font-size: 30px;
  font-weight: 600;
}

.outer{
  height: 25px;
  width: 90%;
  background-color: rgb(184, 184, 184);
  border-radius: 50px;
  margin: 15px;

  
}

.inner{
  height: 25px;
  width: 0%;
  background-color: rgb(175, 78, 48);
  border-radius: 50px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 20px;
  /* padding-right: ; */
}

.bottom button{
  padding: 20px 20px;
  border-radius: 20px;
  /* padding: 2px; */
  font-size: 18px;
  font-weight: 600;
  background:linear-gradient(to right bottom,rgb(63, 32, 32),rgb(184, 34, 187),rgb(247, 99, 129)); ;
  cursor: pointer;
}

.bottom button:active{
  scale: 0.95;
}