* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
  /* background: linear-gradient(to right bottom,rgb(205, 15, 15),rgb(17, 17, 191)); */
  background: black;
  padding: 20px;
  
}

h1{
 text-align: center;
 margin-top: 50px;
 font-weight: 500;
 font-size: 40px;
 color: bisque;
 /* background:conic-gradient(rgb(152, 27, 27),rgb(37, 117, 37)); */
}

form{
 height: 80px;
 width: 90%;
 max-width: 600px;
 margin: auto;
 display: flex;
 align-items: center;
 margin-top: 20px;
 background: rgb(67, 58, 58);
 border-radius: 8px;
}




form input{
 flex: 1;
 height: 100%;
 border: 0;
 outline: 0;
 background: transparent;
 color: #fff;
 font-size: 18px;
 padding: 0 30px;
}

form button{
 padding: 0 40px;
 height: 100%;
 background: rgb(77, 77, 90);
 color: azure;
 font-size: 28px;
 border: 0;
 outline: 0;
 border-top-right-radius: 8px;
 border-bottom-right-radius:8px ;
 cursor: pointer;
}
::placeholder{
 color: bisque;
 font-size: 22px;
}

.show-more-btn{
 color: rgba(206, 108, 22, 0.882);
 height: 50px;
 width: 100px;
 background-color: rgb(57, 54, 48);
 margin: auto;
 margin-top: 20px;
 border-radius: 10px;
 padding: 2px;
 display: flex;
 align-items: center;
 cursor: pointer;
 display: none;
 font-size: 20px;
 /* margin-top: 400px; */
 padding: 4px;
 /* display: flex; */

}

#search-result{
 height: 600px;
 width: 1000px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 gap: 10px;
 margin: auto;
 background-size: cover;
 margin-top: 20px;
}

#search-result img{
 height: 230px;
 width: 100%;
 object-fit: cover;
 border-radius: 5px;
}
