* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 92%;
  width: 100%;
  background-color: #e39797;
  
}
main img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
footer {
  height: 8%;
  width: 100%;
  background-color: #333;
  border-top: 1px solid #222;
  display: flex;
  align-items: center;
}

footer .icons, img {
  width: 40px;
  gap: 40px;
  display: flex;
}
footer .ic{
  margin: 0 20px;
 font-size: 40px;
  color: rgb(217, 203, 203);
  
}

.icons input {
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  font-size: 25px;
  padding: 9px;
  padding-left: 13px;
}

main .screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 800px;
  width: 700px;
  border: 1px solid #b1acac;
  background-size: cover;
  border-radius: 10px;
  display: none;
}

main .right img {
  height: 550px;
  width: 450px;
  border-radius: 10px;
  position: absolute;
  background-size: cover;
   top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}