*{
 margin: 0;
 padding: 0;
 font-family: 'poppis',sans-serif;
 box-sizing: border-box;
}


.container {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at 80% 30%, #c31aa4, transparent 60%),
              radial-gradient(circle at 80% 30%, #00bfff, transparent 60%),
              radial-gradient(circle at 50% 80%, #ffe266, transparent 60%);
  background-color: #0e0d0d;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.musicPlayer{
   width: 393px;
    height:820px;
    background: rgba(10, 8, 8, 0.3);
    border-radius: 35px;
    padding: 15px;
    backdrop-filter: blur(25px);
    cursor: pointer;
    position: relative;

}
.nav{
     width: 350px;
    height:124px;
   /* background: rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    padding: 15px;
    backdrop-filter: blur(25px); */
    
    /* display: flex; */
   
}
.nav1{
 display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.nav #h1{
 border-radius: 50px;
 /* background: #484646; */
 width: 40px;
 line-height: 40px;
 color: #cdc9cb;
 box-shadow: 0 5px 10px rgba(255, 26, 26,0.2);
 display: flex;
 align-items: center;
 justify-content: center;

 
}

.nav #search{
 border-radius: 50px;
 background: #484646;
 width: 40px;
 line-height: 40px;
 color: #cdc9cb;
 box-shadow: 0 5px 10px rgba(255, 26, 26,0.2);
 margin-left: 129px;
 display: flex;
 align-items: center;
 justify-content: center;
 
}

.nav #like{
 border-radius: 50px;
 background: #484646;
 width: 40px;
 line-height: 40px;
 color: #cdc9cb;
 box-shadow: 0 5px 10px rgba(255, 26, 26,0.2);
 display: flex;
 align-items: center;
 justify-content: center;
 margin-right: 2px;

}

.nav h2{
  color: #f0eaef;
  margin-top: 30px;
  padding-left: 5px;
  font-weight: 700;
}

.menu{
  padding: 4px;
  height: 75px;
  width: 369px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x:auto;
  /* margin-top: 5px; */
  
  
}
.menu::-webkit-scrollbar{
  display: none;
}

.menu h3{
  flex-shrink: 0;
 color: #cdc9cb;
 background: #1a5164;
 border-radius: 30px;
 font-size: 25px;
 font-weight: 600;
 margin-top: 3px;
 padding: 17px;
}
.musicPlayer h2{
  margin-top: 20px;
  padding-bottom: 15px;
}

.box{
  height: 220px;
  width: 367px;
  background-color: #7d2774a2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 10px;
  
}

.box h2,p{
  color: black;
  margin-bottom: 10px;
}

.box .icon{
  display: flex;
  justify-content:space-between;
  padding: 5px;
  height: 10px;
  width: 152px;
  /* background: #00bfff; */
}
.box .photo{
  position: absolute;
  border-radius: 30%;
  top: 310px;
  right: 120px;
  width: 10px;
}

.icon #box-photo{
  width: 100px;
  object-fit: cover;
  border-radius: 20%;
}
/* .box img{
  position: absolute;
  border-radius: 10px;
  right: px;
  
} */

#box-description{
  max-width: 27ch;
  font-weight: 150;
}

.musicPlayer .playlst{
  display: flex;
  justify-content: space-between;
  font-weight: 400;

}
.musicPlayer .playlst p{
  margin-top:25px;
}
.scrollbar{
  /* display: flex; */
  flex-wrap: nowrap;
  overflow-y: auto;
  height: 220px;
  gap: 10px;
  /* background-color: #171515; */
  /* border-radius: 20px; */
}

.scrollbar::-webkit-scrollbar{
  display: none;
}

.scrollbar .music {
  display: flex;
  height: 74px;
  width: 365px;
  background: #6d6648;
  border-radius: 10px;
  /* gap: 15px; */
  
  margin-bottom: 10px;
  justify-content: space-between;
  margin-right: 10px;
}
.music h3{
  margin-left: 15px;
  max-width: 20ch;
  /* display: flex; */
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  color: #1a181c;

}
.music h3:hover{
  background: #5c5430;
}

.music img{
  border-radius: 20px;
  height: 70px;
  width: 60px;
  display: flex;
  object-fit: cover;
  margin: 2px 0 0 3px;
}
.music h3 span{
  font-size: 15px;
}

i.fa-solid.fa-play::before{
  background-color: black;
  height: 30px;
  width: 30px;
  margin-top: 20px;
}


.bars{
  height: 60px;
  width: 369px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top:690px ;
  height: 100px;
  background: rgba(186, 172, 172, 0.25);/* black with 30% opacity */
  backdrop-filter: blur(6px); /* glass effect */
  border-radius: 40px;
  transition: all 0.4s ease;
  /* display: block; */
}

.bars i{
  font-size: 25px;
  padding: 20px;
  margin-right: 20px;
   color: #a22d79;  /* white icons look clean on silver background */
  transition: 0.3s;
}

.bars i:hover{
  color: #f804c7;
}
#progress{
  -webkit-appearance: none;
  position: absolute;
  top: 505px;
  left: 40px;
  width: 250px;
  height: 6px;
  background: #b497a5;

}
#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background-color: #bd1b6c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255,26,26,0.22);
}


  .musicPlayer .menuBar{
    height: 700px;
    width: 367px;
    background:radial-gradient(circle at 80% 30%, #c31aa4, transparent 80%),
              radial-gradient(circle at 80% 30%, #00bfff, transparent 80%),
              radial-gradient(circle at 50% 80%, #ac9b52, transparent 80%);
    position: absolute;
    top: 80px;
    padding: 0;
    margin: 0;
    border-radius: 4%;
    border: 2px solid black;
    display: none;
   }

#h1:hover{
  color: #c31aa4;
}

.liveSong{
   height: 60px;
  width: 369px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top:690px ;
  height: 100px;
  background: rgba(201, 21, 21, 0.25 );/* black with 30% opacity */
  backdrop-filter:blur(10px); /* glass effect */
  border-radius: 40px;
  display: none;
}

.liveSong i{
   font-size: 25px;
  padding: 20px;
  margin-right: 20px;
   color: #a22d79;  /* white icons look clean on silver background */
  transition: 0.3s;
}

.liveSong i:hover{
  color: #bd1b6c;
}

.bar, .liveSong{
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.arrows #upper{
  height: 20px;
  width: 20px;
  background: #ac9b52;
}

.slideBar{
  height: 700px;
  width: 393px;
  background: #1a5164;
  position: absolute;
  top: 1%;
  left:33%;
  /* top: 960px; */
  margin-bottom: 20px;
  z-index: 9;
}